<div class="jumbotron">
    <b>
        <h1 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">STOCK MANAGER!</h1>
    </b>
</div>
<div>
    <a href="#/print">
        <button class="btn btn-secondary tags">
           <b class="title"> PRINT A BILL </b>
        </button>
    </a>
    <br><br>
    <a href="#/check">
        <button class="btn btn-secondary tags">
           <b>CHECK STOCK STATUS </b>
        </button>
    </a>
    <br><br>
    <a href="#/add"> 
        <button class="btn btn-secondary tags testbutton">
           <b>ADD STOCKS</b> 
        </button>
    </a>
</div>
