<div style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;color: white;"><h1><b>ADD STOCK</b></h1></div>
<div class="container1">

    <!-- <form>
        <div class="row">
            <div class="input-group">
                <input style="margin-left: 18px;margin-right: 18px;" id="aa" type="text" ng-model="na.name" class="form-control" placeholder="Search">
              </div>
        </div>
        
    </form> -->
    
      <br>
    <table class="table table-dark table-striped">
        <tr>
            <td ng-click="clickfunc('id')">ID</td>

            <td ng-click="clickfunc('name')">NAME</td>
            <td ng-click="clickfunc('noofitems')">NOOFITEMS</td>
            <td ng-click="clickfunc('amount')">AMOUNT</td>
        </tr>
        <tr ng-repeat="item in items | orderBy:order:reverse | filter:na" class="repeat-animation">
            <td>{{item.id | uppercase}}</td>
            
            <td>{{item.name | uppercase}}</td>
            <td>{{item.noofitems}}</td>
            <td>{{item.amount | currency:'Rs '}}</td>
        </tr>
        <tr>
            <td><input class="form-control" type="text" id='id' placeholder="enter id.."></td>
            <td><input class="form-control" type="text" id='name' placeholder="enter name.."></td>
            <td><input class="form-control" type="text" id='noofitems' placeholder="enter noofitems.."></td>
            <td><input class="form-control" type="text" id='amount' placeholder="enter amount.."></td>

        </tr>
        <tr><td class="aaa" ng-click="add()" style="text-align: center;background-color: white;color: black;font-weight:bold ;" colspan="4">ADD</td></tr>
    </table>
</div>
